<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>createPostServlet</display-name>
    <servlet-name>createPostServlet</servlet-name>
    <servlet-class>com.tenco.servlet.createPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createPostServlet</servlet-name>
    <url-pattern>/createPostServlet</url-pattern>
  </servlet-mapping>
  <display-name>jspServletBorder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReadPostsServlet</display-name>
    <servlet-name>ReadPostsServlet</servlet-name>
    <servlet-class>com.tenco.servlet.ReadPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadPostsServlet</servlet-name>
    <url-pattern>/ReadPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeltetPostServlet</display-name>
    <servlet-name>DeltetPostServlet</servlet-name>
    <servlet-class>com.tenco.servlet.DeltetPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeltetPostServlet</servlet-name>
    <url-pattern>/DeltetPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatailPostServlet</display-name>
    <servlet-name>DatailPostServlet</servlet-name>
    <servlet-class>com.tenco.servlet.DatailPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatailPostServlet</servlet-name>
    <url-pattern>/DatailPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePostServlet</display-name>
    <servlet-name>UpdatePostServlet</servlet-name>
    <servlet-class>com.tenco.servlet.UpdatePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePostServlet</servlet-name>
    <url-pattern>/UpdatePostServlet</url-pattern>
  </servlet-mapping>
</web-app>