@charset "UTF-8";
body{
	display: flex-reverse;
	justify-content: center;
	font-family: arial;
}
.header{
	text-align: center;
	background-color: #D8D8D8;
	padding: 20px;
	font-family: 궁서체;
}
.list{
	text-align: center;
	color: white;
}
.aaa{
	width:70px;
	height:20px;
	padding: 10px;
	margin:10px;
	background-color:white;
}
.home{
	font-family: 궁서체;
	text-align: center;
	margin: 20px;
	background-color:white;
	border-radius:2px;
}
.footer{
	font-family: 궁서체;
	text-align: center;
}
